<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/css/carrinho.css" media="screen" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    
    <title>Pizzaria Bandeira dos Sabores</title>
</head>
<body>
    <section id="cabecalho" class="cabecalho">
        <div class='logo'>
            <img src="../images/pizza.png" alt="" width="auto" height="35px"/>
            <h6> PBS </h6>
        </div>

        <div class='secoes'>
            <a href="../menu/menu.html">Menu</a>
            <a href="../cardapio/cardapio.html">Cardápio</a>
        </div>

        <div class='carrinho' style="margin-right: 20px;">
            <img src="../images/forno-pizza.png" alt=""width="auto" height="35px"/>
        </div>
    </section>

    <section id="container1" class="container1">
        <h1> Pedido </h1>

        <div id="list" class="lista">
            <ul>
                <li> Pizza Chocolate R$39,90 </li>
                <li> Pizza 4 Queijos R$45,90 </li>
                <li> Coca-cola R$12,00 </li>
            </ul>

            <h3> Total: R$97,80 </h3>
        </div>

        <button> Enviar pedido para cozinha </button>
    </section>
    
</body>
</html>