<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/css/menu.css" media="screen" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    
    <title>Pizzaria Bandeira dos Sabores</title>
</head>
<body>
    <section id="cabecalho" class="cabecalho">
        <div class='logo'>
            <img src="../images/pizza.png" alt="" width="auto" height="35px"/>
            <h6> PBS </h6>
        </div>

        <div class='secoes'>
            <a href="menu.html">Menu</a>
            <a href="cardapio/cardapio.html">Cardápio</a>
        </div>

        <div class='carrinho' style="margin-right: 20px;">
            <img src="../images/forno-pizza.png" alt=""width="auto" height="35px"/>
        </div>
    </section>
    
    <section id="container1" class="container1">
        <h1> Pizzaria Bandeira dos Sabores </h1>
    </section>

    <section id="container2" class="container2">
        <h1> Veja nossas promoções </h1>
        <div class='row'>
            <div class="box">
                <img  src="../images/pizza-foto.jpg" width="100%" height="200px" />
                <div class='botao'>
                    <h5> pizza de queijo com salsicha <br/> borda recheada com cheddar<br/> e calabresa.</h5>
                    <div class='column'> 
                        <button> P </button>
                        <button> M </button>
                        <button> G </button>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="../images/pizza-foto.jpg" alt="" width="100%" height="200px" />
                <div class='botao'>
                    <h5> pizza de queijo com salsicha <br/> borda recheada com cheddar<br/> e calabresa.</h5>
                    <div class='column'> 
                        <button> P </button>
                        <button> M </button>
                        <button> G </button>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="../images/pizza-foto.jpg" alt="" width="100%" height="200px" />
                <div class='botao'>
                    <h5> pizza de queijo com salsicha <br/> borda recheada com cheddar<br/> e calabresa.</h5>
                    <div class='column'> 
                        <button> P </button>
                        <button> M </button>
                        <button> G </button>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="../images/pizza-foto.jpg" alt="" width="100%" height="200px" />
                <div class='botao'>
                    <h5> pizza de queijo com salsicha <br/> borda recheada com cheddar<br/> e calabresa.</h5>
                    <div class='column'> 
                        <button> P </button>
                        <button> M </button>
                        <button> G </button>
                    </div>
                </div>
            </div>
        </div>
        <div class='bottom'>
            <button> <a href=".././cardapio/cardapio.html"> Veja nosso cardápio completo </a></button> 
        </div>
    </section>

    <section id="container3" class="container3">
        <img src="../images/pizzaria.jpeg" width="620rem" height="auto">
        
        <div class="text">
            <h1> Nosso legado </h1>
            <p>
                A Pizzaria Bandeira dos Sabores é um verdadeiro 
                templo de sabores, fundado há mais de uma década. 
                Conhecida pela qualidade de seus ingredientes e 
                pela paixão pela culinária, cada pizza é uma obra 
                de arte que combina clássicos e criações inovadoras. 
                O ambiente acolhedor e o atendimento caloroso fazem 
                dela um ponto de encontro para amigos e famílias.
            </p>
            <p>
                Além disso, a pizzaria se compromete com a 
                sustentabilidade, utilizando ingredientes locais e
                práticas que respeitam o meio ambiente. Assim, a
                Bandeira dos Sabores perpetua um legado que une
                tradição, inovação e um forte senso de comunidade, 
                celebrando o prazer de compartilhar momentos 
                especiais à mesa.
            </p>
        </div>
        
    </section>
</body>
</html>