<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/css/login.css" media="screen" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
        
    <title>Pizzaria Bandeira dos Sabores</title>
</head>
<body>
    <section id="container" class="container">
        <div>
            <div class='boxLogo'>
                <div class='logo'>
                    <img src="../images/pizza.png" alt="" width="auto" height="90px"/>
                </div>
                <div class='marca'>
                    Pizzaria Bandeira dos Sabores  
                </div>  
            </div>
            <div class='boxForm'>
                <label for="fname">Email:</label>
                <input type="text" id="fname" name="fname"/>
                <label for="fname">Senha:</label>
                <input type="text" id="fname" name="fname"/>
                <button> <a href="../menu/menu.html"style="text-decoration: none;"> Entrar </a></button>
                <h4> Não possui conta? <a href="../cadastro/cadastro.html"> Cadastre-se </a> </h4>
            </div>
        </div>
    </section>
</body>
</html>