<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/css/controlePedidos.css" media="screen" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    
    <title>Pizzaria Bandeira dos Sabores</title>
</head>
<body>
    <section id="cabecalho" class="cabecalho">
        <div class='logo'>
            <img src="../images/pizza.png" alt="" width="auto" height="35px"/>
            <h6> PBS </h6>
        </div>

        <div></div>

        <div class='carrinho' style="margin-right: 20px;">
            <a href="../loginFuncionario/loginFuncionario.html"><h3 style="color: red;"> Sair </h3></a>
        </div>
    </section>


    <section id="container1" class="container1">
        <h1> Controle de Pedidos </h1>

        <div id="tabel" class="tabela">
            <table style="background-color: white;">
                <thead>
                  <tr>
                    <th scope="col">Nº Pedido</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Pedido</th>
                    <th scope="col">Total</th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Yasmin</td>
                        <td>1x Pizza Doce <br> 1x Pizza Doce <br> 1x Pizza Doce</td>
                        <td>R$119.70</td>
                        <td><img src="../images/excluir.png" alt=""></td>
                        <td><img src="../images/ferramenta-lapis.png" alt=""></td>
                        <td><img src="../images/trabalho-feito.png" alt=""></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Yasmin</td>
                        <td>1x Pizza Doce </td>
                        <td>R$39.90</td>
                        <td><img src="../images/excluir.png" alt=""></td>
                        <td><img src="../images/ferramenta-lapis.png" alt=""></td>
                        <td><img src="../images/trabalho-feito.png" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>
    
</body>
</html>