<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="stylesheet" type="text/css" href="/css/escolha.css" media="screen" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
   
    <title>Pizzaria Bandeira dos Sabores</title>
</head>
<body>
    <section id="cabecalho" class="cabecalho">
        <div class='logo'>
            <img src="../images/pizza.png" alt="" width="auto" height="35px"/>
            <h6> PBS </h6>
        </div>

        <div class='secoes'>
            <a href="../menu/menu.html">Menu</a>
            <a href="../cardapio/cardapio.html">Cardápio</a>
        </div>

        <div class='carrinho' style="margin-right: 20px;">
            <img src="../images/forno-pizza.png" alt=""width="auto" height="35px"/>
        </div>
    </section>

    <section id="container" class="container">
        <div class="box">
            <img src="../images/images/pizzasalg.jpg" alt="" width="400px" height="auto"/>
            <h4> Pizza sabor calabresa com queijo e borda recheada</h4>
            <h3> R$49,90</h3>
            <button> Adicionar ao carrinho </button>
        </div>
    </section>
</body>
</html>